@model HomeIndexViewModel
@{
    ViewData[TitleViewDataParam] = "Начало";
}

<div class="m-auto text-center">
    <img src="~/logo.png" alt="ППМГ ТВ Лого" />
    <h1 class="font-weight-bold d-none">
        ППМГ ТВ
    </h1>
    <h3>
        @SystemSlogan
    </h3>
</div>

<div class="row mb-5">
    <iframe id="video-frame"
            class="m-auto"
            src="@Model.VideoUrl"
            frameborder="0"
            allowfullscreen
            alt="ППМГ ТВ Сливен - най-ново видео"></iframe>
</div>

<h3>За ППМГ ТВ</h3>
@*
    <div class="my-5">
        <h5 class="text-center">Мисия на ППМГ ТВ</h5>
        <div class="col-md-8 col-12 mx-auto">
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Ние сме млада и прохождаща, все още, училищна телевизия.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Дейността на ППМГ ТВ – Сливен, която положи своите плахи първи стъпки през октомври 2019 г., е съвременна, атрактивна и забавна форма за изява на участниците, които трупат опит в правенето на телевизия.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Мисията на ППМГ ТВ  е да направи живота в гимназията по-публичен, по-привлекателен и да го поддържа постоянно в крак с времето и събитията.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;ППМГ ТВ си поставя като основна задача да популяризира проекти, събития и инициативи, отличени учители и ученици, да се вглежда в злободневните теми и такива, които вълнуват подрастващите и не на последно място да забавлява.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Вместо само да споменаваме младите хора с добро или лошо, ние ще им помагаме да заснемат темите, които ги вълнуват от ежедневието им, от прочетеното от тях в книгите, списанията, сайтовете,  да споделят  проблемите, които ги вълнуват, като ще  насочим усилията си  към възпитание в дух на толерантност и морални ценности.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;На уебсайта на телевизията ще можете да намерите информация за важни моменти от дейността на телевизията, да се запознаете с екипа, да ни пишете и да участвате в нейния живот.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Съвременните комуникации в училищното ежедневие вече са част от обучението и ние ще дадем възможност на всеки ученик да се изяви като репортер и оператор.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Ще се радваме да ни подкрепите и да бъдете част от нас.</div>
        </div>
    </div>
*@
<div class="d-flex justify-content-center">
    <div class="my-5 col-md-8 col-12 sketchy">
        <h5 class="text-center">Мисия на ППМГ ТВ</h5>
        <div class="">
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Ние сме млада и прохождаща, все още, училищна телевизия.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Дейността на ППМГ ТВ – Сливен, която положи своите плахи първи стъпки през октомври 2019 г., е съвременна, атрактивна и забавна форма за изява на участниците, които трупат опит в правенето на телевизия.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Мисията на ППМГ ТВ  е да направи живота в гимназията по-публичен, по-привлекателен и да го поддържа постоянно в крак с времето и събитията.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;ППМГ ТВ си поставя като основна задача да популяризира проекти, събития и инициативи, отличени учители и ученици, да се вглежда в злободневните теми и в такива, които предизвикват интерес у подрастващите и не на последно място да забавлява.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Вместо само да споменаваме младите хора с добро или лошо, ние ще им помагаме да заснемат темите, които ги вълнуват от ежедневието им, от прочетеното от тях в книгите, списанията, сайтовете,  да споделят  проблемите, които ги вълнуват, като ще  насочим усилията си  към възпитание в дух на толерантност и морални ценности.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;На уебсайта на телевизията ще можете да намерите информация за важни моменти от дейността на телевизията, да се запознаете с екипа, да ни пишете и да участвате в нейния живот.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Съвременните комуникации в училищното ежедневие вече са част от обучението и ние ще дадем възможност на всеки ученик да се изяви като репортер и оператор.</div>
            <div style="text-align: justify">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Ще се радваме да ни подкрепите и да бъдете част от нас.</div>
        </div>
    </div>
</div>

<p class="my-3">Официален YouTube канал на телевизията: <a href="https://www.youtube.com/channel/UCMb5RWFF9pdl5VzSpuc7bqw">youtube.com/c/ppmgtv</a></p>
<p class="my-3">Официален сайт на гимназията: <a href="http://pmg-sliven.com/">pmg-sliven.com</a></p>
<p class="my-3"><a asp-area="Identity" asp-page="/Account/Register">Регистрирайте се</a>, за да получавате известия при наличието на ново излъчване.</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_FrameResizeScriptsParial");}
}
