@model HomeIndexViewModel
@{
    ViewData[TitleViewDataParam] = "Начало";
}

<div class="m-auto text-center">
    <img src="~/logo.png" />
    @{
        /*<h1 class="font-weight-bold">
            Logo
        </h1>*/
    }
    <h3>
        @SystemSlogan
    </h3>
</div>

<div class="row mb-5">
    <iframe id="video-frame"
            class="m-auto"
            src="@Model.VideoUrl"
            frameborder="0"
            allowfullscreen></iframe>
</div>

<h3>За ППМГ ТВ</h3>
<p class="my-3">........</p>

<p class="my-3">Официален YouTube канал на телевизията: <a href="https://www.youtube.com/channel/UCMb5RWFF9pdl5VzSpuc7bqw">youtube.com/c/ppmgtv</a></p>
<p class="my-3">Официален сайт на гимназията: <a href="http://pmg-sliven.com/">pmg-sliven.com</a></p>
<p class="my-3"><a asp-area="Identity" asp-page="/Account/Register">Регистрирайте се</a>, за да получавате известия при наличието на ново излъчване.</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_FrameResizeScriptsParial");}
}