@model HomeIndexViewModel
@{
    ViewData[TitleViewDataParam] = "Начало";
}

<div class="m-auto text-center">
    <h1 class="font-weight-bold">
        Logo
    </h1>
    <h3>
        @SystemSlogan
    </h3>
</div>

<div class="row">
    <iframe id="video-frame"
            class="m-auto"
            src="@Model.VideoUrl"
            frameborder="0"
            allowfullscreen></iframe>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_FrameResizeScriptsParial");}
}