@model int

@{
    ViewData["Title"] = "Status Code Error";
}
<h1>@ViewData["Title"]</h1>
<br />
<h3>Error @Model</h3>
<p>
    200-300-400
    You can try to find what u searched for here :
    ....

    etc.
</p>
