@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>Генерирай 2FA кодове за възстановяване</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Сложете тези кодове на безопасно място.</strong>
    </p>
    <p>
        Ако загубите устройството си или нямате кодове за възстановяване, ще загубите достъп до акаунта си.
    </p>
    <p>
        Генерирането на нови кодове за възстановяване не променя ключовете, използвани в автентикационните приложения. Ако искате да промените ключа,
        автентикационното приложение трябва да <a asp-page="./ResetAuthenticator">нулирате автентикационните ключове.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Генерирай код за възстановяване</button>
    </form>
</div>