@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h4>Лична информация</h4>

<div class="row">
    <div class="col-md-6">
        <p>Вашиат акаунт съдържа лична информация, която сте ни предоставили. Тази страница ви позволява да изтеглите или да изтриете тази информация.</p>
        <p>
            <strong>Изтриването на тази информация ще заличи акаунта ви завинаги, без възможност за възстановяване.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Изтегли</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Изтрий</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}