@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ако нулирате вашият автентикационен ключ, вашето автентикационна приложение ще спре да работи докато не го пренастроите.</strong>
    </p>
    <p>
        Този процеса спира двуфакторната автентикация докато не удостоверите вашето автентикационно приложение.
        Ако не завършите конфигурацията на вашето приложение за двуфакторна автентикация може да загубите достъп до акаунта си.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Нулирай автентикационния ключ</button>
    </form>
</div>

@section Scripts{ 

}