@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>Потвърждение на забравена парола</h1>
<p>
   Провери имейла си за да възстановиш паролата си.
</p>

