@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>Променена парола</h1>
<p>
    Вашата парола беше променена. <a asp-page="./Login">Натиснете тук за да влезете</a>.
</p>
