@using static Common.Constants.DataParams
@using static Common.Constants.ApplicationRolesNames

@{
    ViewData[TitleViewDataParam] = "Администраторска секция";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mb-5">Администраторска секция</h1>

<div class="d-flex flex-column">

    @if ((bool?)TempData[UpdatedVideosSuccessTempDataParam] == true)
    {
        TempData[UpdatedVideosSuccessTempDataParam] = false;
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Успешно обновихте автоматичната видимост на видеата!
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">OK</span>
        </button>
    </div>
    }

    @if ((bool?)TempData[SendNewsLetterSuccessTempDataParam] == true)
    {
        TempData[SendNewsLetterSuccessTempDataParam] = false;
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Успешно изпратихте писмо до абонатите!
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">OK</span>
        </button>
    </div>
    }

    @if (User.IsInRole(AdminRole))
    {
    <form asp-action="" asp-controller="hangfire" asp-area="" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Hangfire</button>
    </form>

    <form asp-action="Permissions" asp-controller="Users" asp-area="Admin" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Права на потребители</button>
    </form>
    }
    <form asp-action="UpdateVideos" asp-controller="Home" asp-area="Admin" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Обнови видимостта на видеата</button>
    </form>

    <form asp-action="Unlisted" asp-controller="Videos" asp-area="Admin" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Преглед на непубличните видеа</button>
    </form>

    <form asp-action="AdminView" asp-controller="Contact" asp-area="" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Преглед на получените контактни форми</button>
    </form>

    <form asp-action="Index" asp-controller="Videos" asp-area="" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Преглед на всички видеа</button>
    </form>

    <form asp-action="NewsLetterSend" asp-controller="Home" asp-area="Admin" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Изпрати съобщение на абонатите</button>
    </form>
</div>