@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mb-5">Admin Section</h1>

<div class="d-flex flex-column">

    @if ((bool?)TempData["UpdatedVideos"] == true)
    {
        TempData["UpdatedVideos"] = false;
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            Успешно обновихте автоматичната видимост на видеата!
            <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">OK</span>
            </button>
        </div>
    }

    @if (User.IsInRole(Common.Constants.ApplicationRolesNames.AdminRole))
    {
        <form asp-action="" asp-controller="hangfire" asp-area="" method="get" class="m-3">
            <button class="btn btn-primary" type="submit">Hangfire</button>
        </form>

        <form asp-action="Permissions" asp-controller="Users" asp-area="Admin" method="get" class="m-3">
            <button class="btn btn-primary" type="submit">Права на потребители</button>
        </form>
    }
    <form asp-action="UpdateVideos" asp-controller="Home" asp-area="Admin" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Обнови видимостта на видеата</button>
    </form>

    <form asp-action="Unlisted" asp-controller="Videos" asp-area="Admin" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Преглед на непубличните видеа</button>
    </form>

    <form asp-action="AdminView" asp-controller="Contact" asp-area="" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Преглед на получените контактни форми</button>
    </form>

    <form asp-action="Index" asp-controller="Videos" asp-area="" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Преглед на всички видеа</button>
    </form>

    <form asp-action="" asp-controller="hangfire" asp-area="" method="get" class="m-3">
        <button class="btn btn-primary" type="submit">Управлявай екипа</button>
    </form>
</div>