@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Използваме бисквитки за да разберем как използваш сайта и да подобрим преживяването. <a asp-area="" asp-controller="Home" asp-action="Privacy">Научи повече</a>.
        <button id="cookieConsentBut" type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Приемам</span>
        </button>
    </div>


    <script>
        var button = document.getElementById("cookieConsentBut");
        console.log(button);
        button.addEventListener("click", function () {
            document.location.href = `@CookieConsentRedirect/${document.location.pathname}`;
        }, false);
    </script>
}