@model ErrorViewModel

@{
    ViewData[TitleViewDataParam] = "Error";
}

<h1 class="text-danger">Грешка</h1>
<h2 class="text-danger">Възникна грешка докато обработвахме заявката ви.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}

<h5>За повече информация, моля свържете се с администратор.</h5>
