@{
    ViewData[TitleViewDataParam] = "Нашите рубрики";
}

<div class="m-auto text-center mb-5">
    <h1 class="font-weight-bold mb-5">
        Рубрики
    </h1>
</div>
<hr />

<ul class="fancylist">
        <li>Здравен свят.                                                                 </li>
        <li>Музикална кутия. Магията на музиката.                  </li>
        <li>Папараци. Новини от шоу бизнеса.                                     </li>
        <li>Ключът към успеха. Млади таланти от гимназията.                                   </li>
        <li>С атлас и компас. Интересни места, които да посетите в България и света.                        </li>
        <li>Под Стария бряст. Истории, легенди, сливенски зевзеци.                         </li>
        <li>Седмичен, месечен хороскоп. Нумерология. Астрология.                              </li>
        <li>Съвременният Серафим. Нашите добротворци.                                            </li>
        <li>Спортна трибуна.                                        </li>
        <li>Пряко включване. В окото на събитията. Интервюта, коментари.    </li>
        <li>Дързост и красота. Мода, стил, прически.                                     </li>
        <li>Събития и личности. Великите българи. Празници.                                                </li>
        <li>Прогноза за времето.                                                </li>
        <li>В света на киното и книгите. Анонси.                                                           </li>
        <li>Смях през сълзи. Весели истории от ученическия живот.                                           </li>
</ul>