@model Web.Models.Videos.VideoInputModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирай</h1>

<h4>Видео</h4>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YouTubeId" class="control-label"></label>
                <input asp-for="YouTubeId" class="form-control" />
                <span asp-validation-for="YouTubeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="font-weight-bold">@Html.DisplayNameFor(model => model.IsVisible): <input class="" asp-for="IsVisible" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PremiredOn" class="control-label"></label>
                <br />
                <small>Стара дата на премиерата: @Html.ValueFor(model=>model.PremiredOn)</small>
                <input asp-for="PremiredOn" class="form-control" />
                <span asp-validation-for="PremiredOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад към списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
