@{
    ViewData["Title"] = "Home Page";
}

<div class="m-auto text-center">
    <h1 class="font-weight-bold">
        Всички излъчвани емисии
    </h1>
</div>

<ul>
    <li>
        <div class="row">
            <h3>Title</h3>
            <img src="thumbnail">
            <p>Desc</p>
        </div>
    </li>
</ul>