@model Web.Models.Videos.VideoViewModel
@{
    ViewData["Title"] = "Watch Video";
}
<div class="m-auto text-center">
    <h1 class="font-weight-bold">
        @Model.Title
    </h1>
</div>

<div class="row">
    <iframe id="video-frame"
            class="m-auto"
            src="@Model.VideoUrl"
            frameborder="0"
            allowfullscreen></iframe>
</div>

<div class="col-md-6 ml-4 py-5">
    <h5>@Model.Description</h5>
    <p>Излъчено на: @Model.PremiredOn.ToLocalTime()</p>
</div>



@section Scripts {
    <script defer>
        var frame = document.getElementById("video-frame");
        const vhPercent = 0.80;
        if (document.documentElement.clientHeight * vhPercent > document.documentElement.clientWidth) {
            frame.setAttribute("height", `${frame.parentElement.clientWidth * 9 / 16}`);
            frame.setAttribute("width", `${frame.parentElement.clientWidth}`);
        }
        else {
            frame.setAttribute("height", `${document.documentElement.clientHeight * vhPercent}`);
            frame.setAttribute("width", `${document.documentElement.clientHeight * vhPercent * 16 / 9}`);
        }
    </script>
}